{% extends "base.html" %}

{% block title %}Football Stats Home{% endblock %}

{% block content %}
    <div class="formation-selector mb-4">
        <label for="formation">Choose a formation:</label>
        <select id="formation" class="form-control">
            <option value="formation-4-3-3">4-3-3</option>
            <option value="formation-3-4-3">3-4-3</option>
        </select>
    </div>
    <div class="content d-flex justify-content-center">
        <div id="field" class="field formation-4-3-3 mr-4">
            <div class="team-price mb-4">
                <strong>Precio del equipo: </strong><span id="totalPrice">0</span> €
            </div>
            {% for i in range(1, 12) %}
            <div class="player player-{{ i }}" data-position="{{ i }}">
                <div class="player-image-container"></div>
                <select class="player-select" data-position="{{ i }}">
                    <option value="">Select player</option>
                </select>
            </div>
            {% endfor %}
        </div>
        <div class="stats-table">
            <table id="playerTable" class="display table table-striped table-bordered">
                <thead>
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for player in players.iterrows() %}
                    <tr>
                        {% for col in columns %}
                        <td>{{ player[1][col] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const playersData = {{ players.to_json(orient='records') | safe }};
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
