<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Football Stats</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='formaciones.css') }}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    </head>
</head>
<body>
    <div class="container">
        <div class="formation-selector">
            <label for="formation">Choose a formation:</label>
            <select id="formation">
                <option value="formation-4-3-3">4-3-3</option>
                <option value="formation-3-4-3">3-4-3</option>
            </select>
        </div>
        <div class="content">
            <div id="field" class="field formation-4-3-3">
                <div class="player player-1" data-position="1">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
                <div class="player player-2" data-position="2">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
                <div class="player player-3" data-position="3">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
                <div class="player player-4" data-position="4">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
                <div class="player player-5" data-position="5">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
                <div class="player player-6" data-position="6">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
                <div class="player player-7" data-position="7">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
                <div class="player player-8" data-position="8">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
                <div class="player player-9" data-position="9">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
                <div class="player player-10" data-position="10">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
                <div class="player player-11" data-position="11">
                    <div class="player-select-placeholder">Click to select</div>
                    <div class="player-image-container"></div>
                    <div class="player-name"></div>
                </div>
            </div>
            
            
            <div class="stats-table">
                <table id="playerTable" class="display">
                    <thead>
                        <tr>
                            {% for col in columns %}
                            <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players.iterrows() %}
                        <tr>
                            {% for col in columns %}
                            <td>{{ player[1][col] }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        const playersData = {{ players.to_json(orient='records') | safe }};
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
